{% extends 'adminbase.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div
		class="page-wrapper">
		<!-- start page container -->
		<div class="page-content-wrapper">
			<div
				class="page-content">
				<!-- START CONTENT-->
 
    <h1>Image</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ image.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ image.image }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('admin_image_index') }}">back to list</a>


<a href="{{ path('admin_image_edit', {'id': image.id}) }}">edit</a>


    {{ include('admin/image/_delete_form.html.twig') }}

			</div>
		</div>
	</div>
</body>
{% endblock %}
