{% extends 'adminbase.html.twig' %}

{% block title %}Hello Admin dashboard !
{% endblock %}

{% block body %}
<SCRIPT language="JavaScript" type="text/javascript">
    function openWin(windowURL, windowName, windowFeatures) {
        window.open(windowURL, windowName, windowFeatures);
    }
</SCRIPT>

<body
    class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper">

        <!-- start page container -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- START CONTENT-->
                <!-- start page content -->
                <div class="page-bar" style=" margin-top: 50px;">

                    <div class="page-title-breadcrumb">
                        <div class=" pull-left">
                            <div class="page-title">All Bookings</div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li>
                                <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                    href="">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a class="parent-item" href="">Users</a>&nbsp;<i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">All Users</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-box">
                            <div class="card-head">
                                <header>All Users</header>
                                <div class="tools">
                                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="row p-b-20">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="btn-group">
                                            <a href="{{ path('admin_user_new') }}" id=" add Appartment "
                                                class=" btn btn-info">

                                                Add New
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="btn-group pull-right">
                                            <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle"
                                                data-toggle="dropdown">Tools
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-print"></i>
                                                        Print
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-file-pdf-o"></i>
                                                        Save as PDF
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-file-excel-o"></i>
                                                        Export to Excel
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-scrollable">
                                    <table class="table table-hover table-checkable order-column full-width"
                                        id="example4">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    Id
                                                </th>
                                                <th class="center">
                                                    Name
                                                </th>
                                                <th class="center">
                                                    Surname</th>


                                                </th>
                                                <th class="center">

                                                    Email

                                                </th>
                                                <th class="center">

                                                    Password </th>
                                                <th>
                                                    Number
                                                </th>


                                                <th class="center">

                                                    Adress
                                                </th>
                                                <th class="center">

                                                    Username
                                                </th>
                                                {#   <th class="center">

		Role                                </th> #}
                                                <th class="center">

                                                    Enabled
                                                </th>
<th class="center">
	actions
</th>


                                                <th class="center">

                                                    PasswordReset
                                                </th>
                                                <th class="center">
                                                    PasswordResetDate

                                                </th>
                                                <th class="center">
                                                    DeletedAt
                                                </th>
                                                <th class="center">

                                                    Reference
                                                </th>
                                                <th class="center">

                                                    Image </th>
                                                <th class="center">
                                                    CreatedAt
                                                </th>
                                                <th class="center">
                                                    UpdatedAt
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            {% for user in users %}
                                            <tr>
                                                <td class="center">{{ user.id }}</td>

                                                <td class="center">{{ user.nom }}</td>
                                                <td class="center">{{ user.prenom }}</td>

                                                <td class="center">{{ user.email }}</td>

                                                <td class="center">{{ user.password }}</td>

                                                <td class="center">{{ user.number }}</td>

                                                <td class="center">{{ user.adress }}</td>

                                                <td class="center">{{ user.Username }}</td>

                                                {# <td>{{ user.Role }}</td>  #}
                                                <td class="center">{{ user.enabled ? 'Yes' : 'No' }}</td>
<td class="center">
	<a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-tbl-edit btn-xs">

		<i class="fa fa-pencil"></i>
	</a>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">

		<a href="{{ path('admin_user_show', {'id': user.id}) }}">
			<i class="fa fa-eye "></i>
		</a>
	</button>
</td>

                                                <td class="center">{{ user.passwordReset }}</td>

                                                <td>{{ user.passwordResetDate ? user.passwordResetDate|date('Y-m-d H:i:s') : '' }}
                                                </td>
                                                <td class="center">
                                                    {{ user.deletedAt ? user.deletedAt|date('Y-m-d H:i:s') : '' }}</td>

                                                <td class="center">{{ user.reference }}</td>

                                                <td class="center"><img src="{{ asset('uploads/' ~ user.image) }}"
                                                        height="40"></td>


                                                <td class="center">
                                                    {{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>

                                                <td class="center">
                                                    {{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>


                                           
                                            </tr>


                                            {% else %}
                                            <tr>
                                                <td colspan="12">no records found</td>
                                            </tr>{% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT-->

                </div>
            </div>
        </div><!-- end page container -->
    </div>
</body>{% endblock %}
 