{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}


<body id="bg">

	<div class="page-wraper">
		<!-- HEADER START -->
		<header class="site-header header-style-1">
			<div class="sticky-header main-bar-wraper">
				<div class="main-bar bg-white p-t5">
					<div class="container">
						<div class="logo-header">
							<div class="logo-header-inner logo-header-one">
								<a href="index.html">
									<img src="zarzis/images/zarzis_logo.png" alt="" />
								</a>
							</div>
						</div>
						<!-- NAV Toggle Button -->
						<button data-target=".header-nav" data-toggle="collapse" type="button"
							class="navbar-toggle collapsed">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- ETRA Nav -->
						<div class="extra-nav">
							<div class="extra-cell">
								<a href="#" class="contact-slide-show text-white">
									<i class="fa fa-envelope-o"></i>
								</a>
							</div>
							<div class="extra-cell">
								<a href="#search" class=" text-white">
									<i class="fa fa-search"></i>
								</a>
							</div>
							<div class="extra-cell">
								<a href="javascript:;" class="socialicon_show  text-white">
									<i class="fa fa-share-alt"></i>
								</a>
							</div>
						</div>
						<!-- ETRA Nav -->

						<!-- Social Nav -->
						<div class="social_hide">
							<div class="side-social-nav">
								<a href="javascript:void(0)" class="socialicon_close">&times;</a>
								<ul class="list-unstyled">
									<li>
										<a href="#" class="fa fa-facebook">
											<span class="social-tooltip">Facebook</span>
										</a>
									</li>

									<li>
										<a href="#" class="fa fa-linkedin">
											<span class="social-tooltip">Linkedin</span>
										</a>
									</li>
									<li>
										<a href="#" class="fa fa-google-plus">
											<span class="social-tooltip">Google Plus</span>
										</a>
									</li>
									<li>
										<a href="#" class="fa fa-instagram">
											<span class="social-tooltip">Instagram</span>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<!-- Contact Nav -->
						<div class="contact-slide-hide">
							<div class="contact-nav">
								<a href="javascript:void(0)" class="contact_close">&times;</a>
								<div class="contact-nav-form p-a30">
									<form class="cons-contact-form" method="post" action="form-handler.php">
										<div class="contact-one m-b30">

											<!-- TITLE START -->
											<div class="section-head text-center">
												<h2 class="m-b5" data-title="Form">Get In Touch</h2>
											</div>
											<!-- TITLE END -->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group wt-inputicon-box">
														<input name="username" type="text" required class="form-control"
															placeholder="Name">
														<i class="fs-input-icon sl-icon-user"></i>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group wt-inputicon-box">
														<input name="email" type="text" class="form-control" required
															placeholder="Email">
														<i class="fs-input-icon sl-icon-envolope-letter"></i>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group wt-inputicon-box">
														<textarea name="message" rows="3" class="form-control " required
															placeholder="Message"></textarea>
														<i class="fs-input-icon sl-icon-envolope"></i>
													</div>
												</div>
												<div class="col-md-12">
													<div class="text-center">
														<button name="submit" type="submit" value="Submit"
															class="btn-half site-button button-lg m-b15">
															<span>Submit</span>
															<em></em>
														</button>
													</div>
												</div>
											</div>
										</div>
									</form>
									<div class="contact-info text-black m-b30">
										<!-- TITLE START -->
										<div class="section-head text-center">
											<h2 class="m-b5" data-title="Info">Contact Info</h2>
										</div>
										<!-- TITLE END -->
										<ul>
											<li>
												<div class="wt-icon-box-wraper center p-b40">
													<div class="icon-md m-b20">
														<i class="sl-icon-phone"></i>
													</div>
													<div class="icon-content">
														<h5 class="m-t0 font-weight-500">Phone number</h5>
														<p>(456) 789 10 12</p>
													</div>
												</div>
											</li>

											<li>
												<div class="wt-icon-box-wraper center p-b40">
													<div class="icon-md m-b20">
														<i class="sl-icon-envolope-letter"></i>
													</div>
													<div class="icon-content">
														<h5 class="m-t0 font-weight-500">Email address</h5>
														<p>demo@gmail.com</p>
													</div>
												</div>
											</li>

											<li>
												<div class="wt-icon-box-wraper center">
													<div class="icon-md m-b20">
														<i class="sl-icon-map"></i>
													</div>
													<div class="icon-content">
														<h5 class="m-t0 font-weight-500">Address info</h5>
														<p>55/11 Land Street, Modern New Yourk City, USA</p>
													</div>
												</div>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- SITE Search -->
						<div id="search">
							<span class="close"></span>
							<form role="search" id="searchform" action="/search" method="get" class="radius-xl">
								<div class="input-group">
									<input value="" name="q" type="search" placeholder="Type to search" />
									<span class="input-group-btn">
										<button type="button" class="search-btn">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
						</div>
						<!-- MAIN Vav -->
						<div class="header-nav navbar-collapse collapse">
							<ul class=" nav navbar-nav">
								<li class="active">
									<a href="{{ path('home') }}">LELLA MERIEM
									</a>
									<ul class="sub-menu">
										<li>
											<a href="index.html">About us</a>
										</li>

									</ul>
								</li>
								<li>
									<a href="{{ path('reservation_index') }}">RÉSERVATION
									</a>
									<ul class="sub-menu">
										<li>
											<a href="post-image.html">Search</a>
										</li>

									</ul>
								</li>
								<li class="submenu-direction">
									<a href="{{ path('gallery') }}">GALLERIE
									</a>

								</li>
								<li>
									<a href="{{ path('contact') }}">CONTACT</a>

								</li>

							</ul>
						</div>

					</div>
				</div>
			</div>
		</header>
		<!-- HEADER END -->
		<!-- CONTENT START -->
		<div class="page-content">
		</div>
		<!-- INNER PAGE BANNER -->
		<div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
style="background-image:url(/zarzis/images/bbbb.jpg)!important;">


			<div class="overlay-main bg-black opacity-07"></div>
			<div class="container">
				<div class="wt-bnr-inr-entry">
					<div class="banner-title-outer">
						<div class="banner-title-name">
							<h2 class="text-white  font-80 font-weight-900"> Reservation</h2>
						</div>
					</div>
					<!-- BREADCRUMB ROW -->

					<div>
						<ul class="wt-breadcrumb breadcrumb-style-2">
							<li><a href="#">Home</a></li>
							<li> Reservation</li>
						</ul>
					</div>

					<!-- BREADCRUMB ROW END -->
				</div>
			</div>
		</div>
		<!-- INNER PAGE BANNER END -->
		<!-- SECTION CONTENT START -->
		<div class="section-full p-tb40 bg-gray">
			<div class="container">
<!-- PAGINATION START -->
<div class="filter-wrap p-tb50">
	<ul class="masonry-filter link-style  text-uppercase text-center" style="display: block;">

		<li class="active">
			<a data-filter="*" href="#">All</a>
		</li>
		<li>
			<a data-filter=".cat-1" href="#">Studio
			</a>
		</li>
		<li>
			<a data-filter=".cat-1" href="#">villa
			</a>
		</li>

		<li>
			<a data-filter=".cat-2" href="#">S + 1</a>

		</li>
		<li>
			<a data-filter=".cat-3" href="#">S + 2</a>

		</li>
		<li>
			<a data-filter=".cat-4" href="#">S + 3</a>

		</li>

	</ul>
</div>
<!-- PAGINATION END -->

<!-- COLUMNS 1 -->
<div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">
	<div class="wt-img-effect ">
<img src="/zarzis/images/img_1103_scaled.jpg" style="height: 200px; " alt="">


	</div>
	<div class="p-a20 bg-white">
		<div class="wt-post-info">
			<div class="wt-post-meta ">
				<ul>
					<li class="post-date">
						<strong>02 June</strong>
						<span>
							2020</span>
					</li>
					<li class="post-author">
						<i class="fa fa-user"></i>
						<a href="javascript:void(0);">By
							<span>Admin</span>
						</a>
					</li>
					<li class="post-comment">
						<i class="fa fa fa-comments"></i>
						<a href="javascript:void(0);">2
							<span>Comment</span>
						</a>
					</li>
				</ul>
			</div>
<p style="text-align:right; font-weight:bold;
				  font-family: verdana;
				font-size: 18px;color:#CD5C5C;">

	40 euro /per Night</p>

			<div class="wt-post-title ">
				<h3 class="post-title">
<a href="javascript:void(0);" class="  m-t0">App. rez de chaussée Jasmin</a>


				</h3>
			</div>

			<div class="wt-post-text">
</div>

			<a href="javascript:void(0);" class="btn-half site-button button-md m-b15">
				<span>SEE DETAILS</span>
				<em></em>
			</a>
		</div>
	</div>
</div>

<!-- COLUMNS 2 -->
<div class="masonry-item cat-2 col-lg-4 col-md-6 col-sm-6 m-b30">
	<div class="wt-img-effect ">
<img src="/zarzis/images/zeze.jpg" style="height: 200px; " alt="">

	</div>
	<div class="p-a20 bg-white">
		<div class="wt-post-info">
			<div class="wt-post-meta ">
				<ul>
					<li class="post-date">
						<strong>20 Jully</strong>
						<span>
							2020</span>
					</li>
					<li class="post-author">
						<i class="fa fa-user"></i>
						<a href="javascript:void(0);">By
							<span>Admin</span>
						</a>
					</li>
					<li class="post-comment">
						<i class="fa fa fa-comments"></i>
						<a href="javascript:void(0);">5
							<span>Comment</span>
						</a>
					</li>
				</ul>
			</div>
<p style="text-align:right; font-weight:bold;
				  font-family: verdana;
				font-size: 18px;color:#CD5C5C;">

	80 euro /per Night</p>

			<div class="wt-post-title ">
				<h3 class="post-title">
<a href="javascript:void(0);" class="  m-t0">Rez de Chaussée Bougainvillier</a>

				</h3>
			</div>
			<div class="wt-post-text">



			</div>
			<a href="javascript:void(0);" class="btn-half site-button button-md m-b15">
				<span>SEE DETAILS</span>
				<em></em>
			</a>
		</div>
	</div>
</div>

<!-- COLUMNS 3 -->
<div class="masonry-item cat-3 col-lg-4 col-md-6 col-sm-6 m-b30">
	<div class="wt-img-effect ">

<img src="/zarzis/images/dji_0942_scaled.jpg" style="height: 200px; " alt="">


	</div>
	<div class="p-a20 bg-white">
		<div class="wt-post-info">

			<div class="wt-post-meta ">
				<ul>
					<li class="post-date">
						<strong>20 June</strong>
						<span>
							2020</span>
					</li>
					<li class="post-author">
						<i class="fa fa-user"></i>
						<a href="javascript:void(0);">By
							<span>Admin</span>
						</a>
					</li>
					<li class="post-comment">
						<i class="fa fa fa-comments"></i>
						<a href="javascript:void(0);">10
							<span>Comment</span>
						</a>
					</li>
				</ul>
			</div>
<p style="text-align:right; font-weight:bold;
  font-family: verdana;
font-size: 18px;color:#CD5C5C;"> 

	150 euro /per Night</p>

			<div class="wt-post-title ">
				<h3 class="post-title">
<a href="javascript:void(0);" class="  m-t0">App. 1er étage Bougainvillier</a>

				</h3>
			</div>


			<div class="wt-post-text">


			</div>
			<a href="javascript:void(0);" class="btn-half site-button button-md m-b15">
				<span>SEE DETAILS</span>
				<em></em>
			</a>
		</div>
	</div>
</div>
<!-- COLUMNS 1 -->
<div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">
	<div class="wt-img-effect ">
		<img src="/zarzis/images/img_1103_scaled.jpg" style="height: 200px; " alt="">


	</div>
	<div class="p-a20 bg-white">
		<div class="wt-post-info">
			<div class="wt-post-meta ">
				<ul>
					<li class="post-date">
						<strong>02 June</strong>
						<span>
							2020</span>
					</li>
					<li class="post-author">
						<i class="fa fa-user"></i>
						<a href="javascript:void(0);">By
							<span>Admin</span>
						</a>
					</li>
					<li class="post-comment">
						<i class="fa fa fa-comments"></i>
						<a href="javascript:void(0);">2
							<span>Comment</span>
						</a>
					</li>
				</ul>
			</div>
			<p style="text-align:right; font-weight:bold;
									  font-family: verdana;
									font-size: 18px;color:#CD5C5C;">

				40 euro /per Night</p>

			<div class="wt-post-title ">
				<h3 class="post-title">
					<a href="javascript:void(0);" class="  m-t0">App. rez de chaussée Jasmin</a>


				</h3>
			</div>

			<div class="wt-post-text"></div>

			<a href="javascript:void(0);" class="btn-half site-button button-md m-b15">
				<span>SEE DETAILS</span>
				<em></em>
			</a>
		</div>
	</div>
</div>

<!-- COLUMNS 2 -->
<div class="masonry-item cat-2 col-lg-4 col-md-6 col-sm-6 m-b30">
	<div class="wt-img-effect ">
		<img src="/zarzis/images/zeze.jpg" style="height: 200px; " alt="">

	</div>
	<div class="p-a20 bg-white">
		<div class="wt-post-info">
			<div class="wt-post-meta ">
				<ul>
					<li class="post-date">
						<strong>20 Jully</strong>
						<span>
							2020</span>
					</li>
					<li class="post-author">
						<i class="fa fa-user"></i>
						<a href="javascript:void(0);">By
							<span>Admin</span>
						</a>
					</li>
					<li class="post-comment">
						<i class="fa fa fa-comments"></i>
						<a href="javascript:void(0);">5
							<span>Comment</span>
						</a>
					</li>
				</ul>
			</div>
			<p style="text-align:right; font-weight:bold;
									  font-family: verdana;
									font-size: 18px;color:#CD5C5C;">

				80 euro /per Night</p>

			<div class="wt-post-title ">
				<h3 class="post-title">
					<a href="javascript:void(0);" class="  m-t0">Rez de Chaussée Bougainvillier</a>

				</h3>
			</div>
			<div class="wt-post-text"></div>
			<a href="javascript:void(0);" class="btn-half site-button button-md m-b15">
				<span>SEE DETAILS</span>
				<em></em>
			</a>
		</div>
	</div>
</div>

<!-- COLUMNS 3 -->
<div class="masonry-item cat-3 col-lg-4 col-md-6 col-sm-6 m-b30">
	<div class="wt-img-effect ">

		<img src="/zarzis/images/dji_0942_scaled.jpg" style="height: 200px; " alt="">


	</div>
	<div class="p-a20 bg-white">
		<div class="wt-post-info">

			<div class="wt-post-meta ">
				<ul>
					<li class="post-date">
						<strong>20 June</strong>
						<span>
							2020</span>
					</li>
					<li class="post-author">
						<i class="fa fa-user"></i>
						<a href="javascript:void(0);">By
							<span>Admin</span>
						</a>
					</li>
					<li class="post-comment">
						<i class="fa fa fa-comments"></i>
						<a href="javascript:void(0);">10
							<span>Comment</span>
						</a>
					</li>
				</ul>
			</div>
			<p style="text-align:right; font-weight:bold;
					  font-family: verdana;
					font-size: 18px;color:#CD5C5C;">

				150 euro /per Night</p>

			<div class="wt-post-title ">
				<h3 class="post-title">
					<a href="javascript:void(0);" class="  m-t0">App. 1er étage Bougainvillier</a>

				</h3>
			</div>


			<div class="wt-post-text"></div>
			<a href="javascript:void(0);" class="btn-half site-button button-md m-b15">
				<span>SEE DETAILS</span>
				<em></em>
			</a>
		</div>
	</div>
</div>

			</div>

			<!-- GALLERY CONTENT START -->

			<div class="portfolio-wrap mfp-gallery news-grid clearfix">

					{# {% for appartement in appartements %}
	<tr>
		<td>{{ appartement.title }}</td>
		<td>{{ appartement.price }}</td>
		<td>{{ appartement.adress }}</td>
		<td>{{ appartement.espace }}</td>
		<td>{{ appartement.nbrpersonne }}</td>
		<td>{{ appartement.description }}</td>
		<td>{{ appartement.postalCode }}</td>
		<td>{{ appartement.isPublished ? 'Yes' : 'No' }}</td>
		<td>{{ appartement.id }}</td>
		<td>{{ appartement.createdAt ? appartement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
		<td>{{ appartement.updatedAt ? appartement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
		<td>
			<a href="{{ path('appartement_show', {'id': appartement.id}) }}">show</a>
			<a href="{{ path('appartement_edit', {'id': appartement.id}) }}">edit</a>
		</td>
	</tr>
{% else %}
	<tr>
		<td colspan="12">no records found</td>
	</tr>
{% endfor %} #}

 <div class="row">
					<!-- COLUMNS 2 -->
					{% for appartement in appartements %}


					<div class="masonry-item col-lg-4 col-md-6 col-sm-6">

						<div class="wt-img-effect ">
							<img src="{{ asset('uploads/' ~ appartement.image) }}" style="height: 400px; " alt="">
						</div>
						<div class="p-a20 bg-white">
							<div class="wt-post-info">
								<div class="wt-post-meta ">
									<ul>
										<li class="post-date">
											<strong>{{ appartement.createdAt ? appartement.createdAt|date('Y-m-d') : '' }}</strong>

										</li>
										<li class="post-author">
											<i class="fa fa-user"></i>
											<a href="#">By
												<span>Admin</span>
											</a>
										</li>
										<li class="post-comment">
											<i class="fa fa fa-comments"></i>
											<a href="#">10
												<span>Comment</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="wt-post-title ">
									<h3 class="post-title">
										<a href="#" class="  m-t0">{{ appartement.title }}</a>

									</h3>
								</div>
								<div class="wt-post-text">
									<p>{{ appartement.description }}</p>

								</div>
								<a href="{{ path('appartement_toreserve_show', {'id': appartement.id}) }}"
									class=" btn-half site-button button-md m-b15">
									<span>SEE APPARTEMENT</span>
									<em></em>
								</a>
							</div>
						</div>
					</div>

				</div>
{% endfor %}
</div>

			</div>
			<!-- SECTION CONTENT END  -->


		</div>
		<!-- CONTENT END --> 

		<!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>
  
</div>



</body>

{% endblock %}