{% extends 'adminbase.html.twig' %}

{% block title %}Hello Admin dashboard !
{% endblock %}

{% block body %}
<SCRIPT language="JavaScript" type="text/javascript">
	function openWin(windowURL, windowName, windowFeatures) {
		window.open(windowURL, windowName, windowFeatures);
	}
</SCRIPT>

<body
	class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">

		<!-- start page container -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- START CONTENT-->
				<!-- start page content -->
				<div class="page-bar" style=" margin-top: 50px;">
					<div class="page-title-breadcrumb">
						<div class=" pull-left">
							<div class="page-title">Category List Table</div>

						</div>
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li>
								<i class="fa fa-home"></i>&nbsp;<a class="parent-item"
									href="{{ path('admin') }}">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
							</li>
							<li>
								<a class="parent-item" href="#">Category</a>&nbsp;<i class="fa fa-angle-right"></i>
							</li>
							<li class="active">All Categories</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card card-box">
							<div class="card-head">
								<header>All Bookings</header>
<div class="tools">
	<a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	<a class="t-close btn-color fa fa-times" href="javascript:;"></a>
</div>

							</div>
							<div class="card-body ">
								<div class="row p-b-20">
									<div class="col-md-6 col-sm-6 col-6">
										<div class="btn-group">
											<a href="{{ path('admin_category_new') }}" id=" add Category"
												class=" btn btn-info">


												Add New
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-6">
										<div class="btn-group pull-right">
											<a class="btn deepPink-bgcolor  btn-outline dropdown-toggle"
												data-toggle="dropdown">Tools
												<i class="fa fa-angle-down"></i>
											</a>
											<ul class="dropdown-menu pull-right">
												<li>
													<a href="#">
														<i class="fa fa-print"></i>
														Print
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-file-pdf-o"></i>
														Save as PDF
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-file-excel-o"></i>
														Export to Excel
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="table-scrollable">
									<table class="table table-hover table-checkable order-column full-width"
										id="example4">
 
											<th class="center">
												Id
											</th>
											<th class="center">
												Parentid
											</th>
											<th class="center">
												Title</th>
 
										</th>
										<th class="center">

											Keywords
										</th>
										<th class="center">

											Description
										</th>
										<th>
											Image</th>


										<th class="center">

											Status
										</th>
										<th class="center">
											actions

										</th>

										</tr>
										</thead>
										<tbody>
											{% for category in categories %}

											<tr class="odd gradeX">
												<td class="user-circle-img">
													{{ category.id }}

												</td>
												<td class="center">
													{{ category.parentid }}</td>


												<td class="center">
													{{ category.title }}
												</td>
												<td class="center">
													<a href="#">
														{{ category.keywords }}

													</a>
												</td>
												<td class="center">
													{{ category.description }}


												</td>
												<td class="center">
													<a href="#">
														<img src="{{ asset('uploads/' ~ category.image) }}" height="40">

													</a>

												</td>

												<td class="center">
													{{ category.status }}</td>




												<td class="center">
													<a href="{{ path('admin_category_edit', {'id': category.id}) }}"
														class="btn btn-tbl-edit btn-xs">


														<i class="fa fa-pencil"></i>
													</a>
													<button
														class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">

														<a
															href="{{ path('admin_category_show', {'id': category.id}) }}">


															<i class="fa fa-eye "></i>
														</a>
													</button>
												</td>
											</tr>


											{% else %}
											<tr>
												<td colspan="12">no records found</td>
											</tr>
											{% endfor %}

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- END CONTENT-->
				</div>
</body>
</div>
</div><!-- end page container -->
</div>
</body>{% endblock %}