<html>
	<body>
		<style>
			body {
				margin-top: 20px;
			}
			.container {
				background-color: #F5F5F5;
			}
			.center {
				margin: auto;
				width: 50%;
				height: 500px;
				border: 3px solid black;
				padding: 10px;
			}
			.download {
				margin: auto;
				width: 15%;
				padding: 10px;
			}

			table,
			td,
			th {
				/*border: 1px solid #ddd;*/
				text-align: center;
			}
			th {
				background-color: #C19B76;
				color: white;
			}
			table {
				border-collapse: collapse;
				width: 100%;
			}
			th,
			td {
				padding: 15px;
			}
		</style>
		{% set date= (app.session.get('data')['checkout']) |date('l  d/m/Y') %}
		{% set nbrJour= (app.session.get('data')['days']) %}
		{% set prix= (app.session.get('data')['price']) %}
		{% set total= (app.session.get('data')['total']) %}

		<div style="background-color: #C19B76;color: #e0f2f1;padding: 2px;text-align: center">
			<h1>payement Succeed</h1>
		</div>
		<p></p>
		<div class="download">
			<a href="{{ path('download')}}">
				<button style="background-color: black;color: #fff;padding: 5px;font-weight: bold;font-size: large">

					Export as PDF</button>
			</a>
		</div>

		<div class="container center">
			<pre>
<span style="float: left">
Zarzis Holidays
Rue djerba
Phone:
+216 99 024 797
</span>
<span style="float: right;margin-top: -16px">
Date: Thursday 24/09/2020

     Receipt #: 34522677W
</span>
</pre>
			<div style="text-align: center;font-size: xx-large;font-weight: bold;margin-top: 100px;">
				<h2>Invoice</h2>
			</div>

			<table>
				<tr>
					<th>Product</th>
					<th>Nombre de jours
					</th>
					<th>Price</th>
					<th>Total</th>
				</tr>
				<tr>
					<td>Zarzis Holidays Appartment</td>
					<td>
						{{ nbrJour }}</td>
					<td>{{ prix }}</td>
					<td>{{ total }}</td>
				</tr>
				<tr>
					<td style="padding: 30px!important;font-weight: bold;text-align: left">
						<h1>
							<strong>
								Total :
								<span style="margin-right: 10px">
									€{{ total }}
								</span>
							</strong>
						</h1>
					</td>
				</tr>

			</table>

		</div>
	</body>
</html>

